datasets/PurchaseOrder/core/core.withElements.xsd

<?xml version="1.0"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" xmlns="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" > 
<xsd:include schemaLocation="core.xsd" /> 
<xsd:element name="PaymentInstructionsTypeElement" type="PaymentInstructionsType"/> 
<xsd:element name="PaymentMeanTypeElement" type="PaymentMeanType"/> 
<xsd:element name="LanguageStringTypeElement" type="LanguageStringType"/> 
<xsd:element name="ContractTypeElement" type="ContractType"/> 
<xsd:element name="DateCodedTypeElement" type="DateCodedType"/> 
<xsd:element name="FITransferTypeElement" type="FITransferType"/> 
<xsd:element name="ListOfPackageDocTypeElement" type="ListOfPackageDocType"/> 
<xsd:element name="PackageReferenceTypeElement" type="PackageReferenceType"/> 
<xsd:element name="ListOfReferenceCodedTypeElement" type="ListOfReferenceCodedType"/> 
<xsd:element name="ListOfQuantityCodedTypeElement" type="ListOfQuantityCodedType"/> 
<xsd:element name="PackageTypeElement" type="PackageType"/> 
<xsd:element name="DimensionTypeElement" type="DimensionType"/> 
<xsd:element name="ListOfPaymentInstructionsTypeElement" type="ListOfPaymentInstructionsType"/> 
<xsd:element name="LocationTypeElement" type="LocationType"/> 
<xsd:element name="PackageDescriptionTypeElement" type="PackageDescriptionType"/> 
<xsd:element name="LocationIdentifierTypeElement" type="LocationIdentifierType"/> 
<xsd:element name="ListOfAttachmentTypeElement" type="ListOfAttachmentType"/> 
<xsd:element name="AllowOrChargeTypeElement" type="AllowOrChargeType"/> 
<xsd:element name="PackageIdentifierTypeElement" type="PackageIdentifierType"/> 
<xsd:element name="ListOfHazardousIdentifiersTypeElement" type="ListOfHazardousIdentifiersType"/> 
<xsd:element name="ResponseTypeTypeElement" type="ResponseTypeType"/> 
<xsd:element name="TypeOfAllowanceOrChargeTypeElement" type="TypeOfAllowanceOrChargeType"/> 
<xsd:element name="ListOfActualPaymentTypeElement" type="ListOfActualPaymentType"/> 
<xsd:element name="SpecialHandlingTypeElement" type="SpecialHandlingType"/> 
<xsd:element name="GPSCoordinatesTypeElement" type="GPSCoordinatesType"/> 
<xsd:element name="PaymentAmountTypeElement" type="PaymentAmountType"/> 
<xsd:element name="NameValueSetTypeElement" type="NameValueSetType"/> 
<xsd:element name="PartNumbersTypeElement" type="PartNumbersType"/> 
<xsd:element name="AllowOrChargeSummaryTypeElement" type="AllowOrChargeSummaryType"/> 
<xsd:element name="PurchaseOrderReferenceTypeElement" type="PurchaseOrderReferenceType"/> 
<xsd:element name="ListOfContactTypeElement" type="ListOfContactType"/> 
<xsd:element name="PercentageAllowanceOrChargeTypeElement" type="PercentageAllowanceOrChargeType"/> 
<xsd:element name="ListOfMeasurementTypeElement" type="ListOfMeasurementType"/> 
<xsd:element name="PackageTypeTypeElement" type="PackageTypeType"/> 
<xsd:element name="ListOfPackageTypeElement" type="ListOfPackageType"/> 
<xsd:element name="FIAccountTypeElement" type="FIAccountType"/> 
<xsd:element name="UnitOfMeasurementTypeElement" type="UnitOfMeasurementType"/> 
<xsd:element name="MeasurementTypeElement" type="MeasurementType"/> 
<xsd:element name="ConditionsTypeElement" type="ConditionsType"/> 
<xsd:element name="FIAccountDetailTypeElement" type="FIAccountDetailType"/> 
<xsd:element name="PartyTypeElement" type="PartyType"/> 
<xsd:element name="SeverityTypeElement" type="SeverityType"/> 
<xsd:element name="OrderTypeTypeElement" type="OrderTypeType"/> 
<xsd:element name="PackageCharacteristicTypeElement" type="PackageCharacteristicType"/> 
<xsd:element name="TransitDirectionTypeElement" type="TransitDirectionType"/> 
<xsd:element name="ConditionsOfSaleTypeElement" type="ConditionsOfSaleType"/> 
<xsd:element name="ListOfAccountAssignmentTypeElement" type="ListOfAccountAssignmentType"/> 
<xsd:element name="ListOfLanguageTypeElement" type="ListOfLanguageType"/> 
<xsd:element name="DeliveryDetailTypeElement" type="DeliveryDetailType"/> 
<xsd:element name="ListOfErrorInfoTypeElement" type="ListOfErrorInfoType"/> 
<xsd:element name="SealInfoTypeElement" type="SealInfoType"/> 
<xsd:element name="SalesRequirementTypeElement" type="SalesRequirementType"/> 
<xsd:element name="StatusTypeElement" type="StatusType"/> 
<xsd:element name="MonetaryLimitTypeElement" type="MonetaryLimitType"/> 
<xsd:element name="IdentifierTypeElement" type="IdentifierType"/> 
<xsd:element name="StatusEventTypeElement" type="StatusEventType"/> 
<xsd:element name="ListOfStructuredNoteTypeElement" type="ListOfStructuredNoteType"/> 
<xsd:element name="RegionTypeElement" type="RegionType"/> 
<xsd:element name="CardInfoTypeElement" type="CardInfoType"/> 
<xsd:element name="DestinationRefTypeElement" type="DestinationRefType"/> 
<xsd:element name="TransportPackagingTotalsTypeElement" type="TransportPackagingTotalsType"/> 
<xsd:element name="ListOfNameValuePairTypeElement" type="ListOfNameValuePairType"/> 
<xsd:element name="HazardousPlacardInformationTypeElement" type="HazardousPlacardInformationType"/> 
<xsd:element name="ListOfContactNumberTypeElement" type="ListOfContactNumberType"/> 
<xsd:element name="TermsOfDeliveryTypeElement" type="TermsOfDeliveryType"/> 
<xsd:element name="AllowOrChargeTreatmentTypeElement" type="AllowOrChargeTreatmentType"/> 
<xsd:element name="ShipmentStatusEventTypeElement" type="ShipmentStatusEventType"/> 
<xsd:element name="ListOfCostCenterTypeElement" type="ListOfCostCenterType"/> 
<xsd:element name="AccountAssignmentTypeElement" type="AccountAssignmentType"/> 
<xsd:element name="ContactFunctionTypeElement" type="ContactFunctionType"/> 
<xsd:element name="TaxReferenceTypeElement" type="TaxReferenceType"/> 
<xsd:element name="TitleTypeElement" type="TitleType"/> 
<xsd:element name="QuantityValueTypeElement" type="QuantityValueType"/> 
<xsd:element name="LineItemNumTypeElement" type="LineItemNumType"/> 
<xsd:element name="ListOfLanguageStringTypeElement" type="ListOfLanguageStringType"/> 
<xsd:element name="TransportLocationListTypeElement" type="TransportLocationListType"/> 
<xsd:element name="ListOfTaxSummaryTypeElement" type="ListOfTaxSummaryType"/> 
<xsd:element name="TaxTypeElement" type="TaxType"/> 
<xsd:element name="RoundTripInformationTypeElement" type="RoundTripInformationType"/> 
<xsd:element name="ListOfRegionTypeElement" type="ListOfRegionType"/> 
<xsd:element name="PriceMultiplierTypeElement" type="PriceMultiplierType"/> 
<xsd:element name="ListOfPackageItemReferenceTypeElement" type="ListOfPackageItemReferenceType"/> 
<xsd:element name="ListOfShipToSubInformationTypeElement" type="ListOfShipToSubInformationType"/> 
<xsd:element name="TransportEquipmentTypeElement" type="TransportEquipmentType"/> 
<xsd:element name="ListOfPurchaseOrderReferenceTypeElement" type="ListOfPurchaseOrderReferenceType"/> 
<xsd:element name="MinimumValueTypeElement" type="MinimumValueType"/> 
<xsd:element name="PartyCodedTypeElement" type="PartyCodedType"/> 
<xsd:element name="TransportQuantitiesTypeElement" type="TransportQuantitiesType"/> 
<xsd:element name="QuantityAllowanceOrChargeTypeElement" type="QuantityAllowanceOrChargeType"/> 
<xsd:element name="PartyTaxInformationTypeElement" type="PartyTaxInformationType"/> 
<xsd:element name="DateQualifierTypeElement" type="DateQualifierType"/> 
<xsd:element name="LineItemNumberReferenceTypeElement" type="LineItemNumberReferenceType"/> 
<xsd:element name="ContractTypeTypeElement" type="ContractTypeType"/> 
<xsd:element name="HazardousTypeElement" type="HazardousType"/> 
<xsd:element name="PackageDocTypeElement" type="PackageDocType"/> 
<xsd:element name="SealStatusDescriptionTypeElement" type="SealStatusDescriptionType"/> 
<xsd:element name="ListOfPackageTypeTypeElement" type="ListOfPackageTypeType"/> 
<xsd:element name="MeasurementRangeTypeElement" type="MeasurementRangeType"/> 
<xsd:element name="AcademicTitleTypeElement" type="AcademicTitleType"/> 
<xsd:element name="NameAddressTypeElement" type="NameAddressType"/> 
<xsd:element name="LanguageTypeElement" type="LanguageType"/> 
<xsd:element name="ListOfHazardousTypeElement" type="ListOfHazardousType"/> 
<xsd:element name="ItemIdentifiersTypeElement" type="ItemIdentifiersType"/> 
<xsd:element name="AccountDetailTypeElement" type="AccountDetailType"/> 
<xsd:element name="ListOfPackageIdentifierTypeElement" type="ListOfPackageIdentifierType"/> 
<xsd:element name="ListOfDimensionTypeElement" type="ListOfDimensionType"/> 
<xsd:element name="MonetaryValueTypeElement" type="MonetaryValueType"/> 
<xsd:element name="ListOfStatusReasonTypeElement" type="ListOfStatusReasonType"/> 
<xsd:element name="RangeTypeElement" type="RangeType"/> 
<xsd:element name="BasisMonetaryRangeTypeElement" type="BasisMonetaryRangeType"/> 
<xsd:element name="ReferenceCodedTypeElement" type="ReferenceCodedType"/> 
<xsd:element name="PartialOrderTypeElement" type="PartialOrderType"/> 
<xsd:element name="ItemCharacteristicTypeElement" type="ItemCharacteristicType"/> 
<xsd:element name="ContactTypeElement" type="ContactType"/> 
<xsd:element name="CargoClassificationTypeElement" type="CargoClassificationType"/> 
<xsd:element name="PackageDetailTypeElement" type="PackageDetailType"/> 
<xsd:element name="ListOfPartyTypeElement" type="ListOfPartyType"/> 
<xsd:element name="ListOfAllowOrChargeTypeElement" type="ListOfAllowOrChargeType"/> 
<xsd:element name="ProductIdentifierCodedTypeElement" type="ProductIdentifierCodedType"/> 
<xsd:element name="ScheduleLineTypeElement" type="ScheduleLineType"/> 
<xsd:element name="ListOfIdentifierTypeElement" type="ListOfIdentifierType"/> 
<xsd:element name="FinancialInstitutionDetailTypeElement" type="FinancialInstitutionDetailType"/> 
<xsd:element name="CatalogReferenceTypeElement" type="CatalogReferenceType"/> 
<xsd:element name="ListOfPackageMarkTypeElement" type="ListOfPackageMarkType"/> 
<xsd:element name="ContactNumberTypeElement" type="ContactNumberType"/> 
<xsd:element name="PricingTypeTypeElement" type="PricingTypeType"/> 
<xsd:element name="ListOfDateCodedTypeElement" type="ListOfDateCodedType"/> 
<xsd:element name="AllowOrChgDescTypeElement" type="AllowOrChgDescType"/> 
<xsd:element name="LineItemTypeTypeElement" type="LineItemTypeType"/> 
<xsd:element name="CostCenterTypeElement" type="CostCenterType"/> 
<xsd:element name="ListOfPackageCharacteristicTypeElement" type="ListOfPackageCharacteristicType"/> 
<xsd:element name="TransportRoutingTypeElement" type="TransportRoutingType"/> 
<xsd:element name="MonetaryRangeTypeElement" type="MonetaryRangeType"/> 
<xsd:element name="PricingDetailTypeElement" type="PricingDetailType"/> 
<xsd:element name="HazardousShipmentInformationTypeElement" type="HazardousShipmentInformationType"/> 
<xsd:element name="ListOfProductIdentifierCodedTypeElement" type="ListOfProductIdentifierCodedType"/> 
<xsd:element name="NameValuePairTypeElement" type="NameValuePairType"/> 
<xsd:element name="ShipToSubInformationTypeElement" type="ShipToSubInformationType"/> 
<xsd:element name="ListOfPartyCodedTypeElement" type="ListOfPartyCodedType"/> 
<xsd:element name="BaseItemReferencesTypeElement" type="BaseItemReferencesType"/> 
<xsd:element name="ListOfLocationTypeElement" type="ListOfLocationType"/> 
<xsd:element name="ListOfCurrencyTypeElement" type="ListOfCurrencyType"/> 
<xsd:element name="PurposeTypeElement" type="PurposeType"/> 
<xsd:element name="ActualPaymentStatusTypeElement" type="ActualPaymentStatusType"/> 
<xsd:element name="AgencyTypeElement" type="AgencyType"/> 
<xsd:element name="PartNumTypeElement" type="PartNumType"/> 
<xsd:element name="MaximumValueTypeElement" type="MaximumValueType"/> 
<xsd:element name="ListOfPackageDescriptionTypeElement" type="ListOfPackageDescriptionType"/> 
<xsd:element name="QuantityCodedTypeElement" type="QuantityCodedType"/> 
<xsd:element name="ListOfSealInfoTypeElement" type="ListOfSealInfoType"/> 
<xsd:element name="ListOfNameValueSetTypeElement" type="ListOfNameValueSetType"/> 
<xsd:element name="ListOfScheduleLineTypeElement" type="ListOfScheduleLineType"/> 
<xsd:element name="ChangeTypeTypeElement" type="ChangeTypeType"/> 
<xsd:element name="PaymentTermTypeElement" type="PaymentTermType"/> 
<xsd:element name="PaymentTermsTypeElement" type="PaymentTermsType"/> 
<xsd:element name="TotalAllowOrChargeTypeElement" type="TotalAllowOrChargeType"/> 
<xsd:element name="POBoxTypeElement" type="POBoxType"/> 
<xsd:element name="DiscountsTypeElement" type="DiscountsType"/> 
<xsd:element name="ListOfTimezoneTypeElement" type="ListOfTimezoneType"/> 
<xsd:element name="UOMTypeElement" type="UOMType"/> 
<xsd:element name="UnitPriceTypeElement" type="UnitPriceType"/> 
<xsd:element name="ListOfTransportRoutingTypeElement" type="ListOfTransportRoutingType"/> 
<xsd:element name="StandardCategoryIDTypeElement" type="StandardCategoryIDType"/> 
<xsd:element name="ListOfParameterTypeElement" type="ListOfParameterType"/> 
<xsd:element name="TransportLocationTypeElement" type="TransportLocationType"/> 
<xsd:element name="LineItemRequisitionReferenceTypeElement" type="LineItemRequisitionReferenceType"/> 
<xsd:element name="ListOfContractTypeElement" type="ListOfContractType"/> 
<xsd:element name="CategoryTypeElement" type="CategoryType"/> 
<xsd:element name="TransportMeansTypeElement" type="TransportMeansType"/> 
<xsd:element name="PackageMarkTypeElement" type="PackageMarkType"/> 
<xsd:element name="RateOfExchangeDetailTypeElement" type="RateOfExchangeDetailType"/> 
<xsd:element name="ListOfPartNumTypeElement" type="ListOfPartNumType"/> 
<xsd:element name="QuantityTypeElement" type="QuantityType"/> 
<xsd:element name="AssociatedDocumentsTypeElement" type="AssociatedDocumentsType"/> 
<xsd:element name="RateTypeElement" type="RateType"/> 
<xsd:element name="PercentQualifierTypeElement" type="PercentQualifierType"/> 
<xsd:element name="ListOfPackageDetailTypeElement" type="ListOfPackageDetailType"/> 
<xsd:element name="ListOfReferenceTypeElement" type="ListOfReferenceType"/> 
<xsd:element name="ListOfRateOfExchangeDetailTypeElement" type="ListOfRateOfExchangeDetailType"/> 
<xsd:element name="ItemPackagingReferenceTypeElement" type="ItemPackagingReferenceType"/> 
<xsd:element name="ListOfDestinationRefTypeElement" type="ListOfDestinationRefType"/> 
<xsd:element name="ListOfQuantityTypeElement" type="ListOfQuantityType"/> 
<xsd:element name="FinancialInstitutionTypeElement" type="FinancialInstitutionType"/> 
<xsd:element name="CurrencyTypeElement" type="CurrencyType"/> 
<xsd:element name="ListOfTransportEquipmentTypeElement" type="ListOfTransportEquipmentType"/> 
<xsd:element name="IDAssignedByTypeElement" type="IDAssignedByType"/> 
<xsd:element name="MeasurementValueTypeElement" type="MeasurementValueType"/> 
<xsd:element name="PriceTypeElement" type="PriceType"/> 
<xsd:element name="PackageItemReferenceTypeElement" type="PackageItemReferenceType"/> 
<xsd:element name="SealIssuerTypeElement" type="SealIssuerType"/> 
<xsd:element name="ListOfItemCharacteristicTypeElement" type="ListOfItemCharacteristicType"/> 
<xsd:element name="HazardousIdentifiersTypeElement" type="HazardousIdentifiersType"/> 
<xsd:element name="QuantityRangeTypeElement" type="QuantityRangeType"/> 
<xsd:element name="PercentTypeElement" type="PercentType"/> 
<xsd:element name="PaymentRecordTypeElement" type="PaymentRecordType"/> 
<xsd:element name="TaxSummaryTypeElement" type="TaxSummaryType"/> 
<xsd:element name="ReferenceTypeElement" type="ReferenceType"/> 
<xsd:element name="StructuredNoteTypeElement" type="StructuredNoteType"/> 
<xsd:element name="ValidityDatesTypeElement" type="ValidityDatesType"/> 
<xsd:element name="ErrorInfoTypeElement" type="ErrorInfoType"/> 
<xsd:element name="RequestedResponseTypeElement" type="RequestedResponseType"/> 
<xsd:element name="PaymentMethodTypeElement" type="PaymentMethodType"/> 
<xsd:element name="ListOfPriceTypeElement" type="ListOfPriceType"/> 
<xsd:element name="TimeDueTypeElement" type="TimeDueType"/> 
<xsd:element name="ListOfValuesTypeElement" type="ListOfValuesType"/> 
<xsd:element name="CountryTypeElement" type="CountryType"/> 
<xsd:element name="ActualPaymentTypeElement" type="ActualPaymentType"/> 
<xsd:element name="ServiceLevelTypeElement" type="ServiceLevelType"/> 
<xsd:element name="ReturnableContainerInfoTypeElement" type="ReturnableContainerInfoType"/> 
<xsd:element name="StatusReasonTypeElement" type="StatusReasonType"/> 
<xsd:element name="TimezoneTypeElement" type="TimezoneType"/> 
<xsd:element name="ListOfNameAddressTypeElement" type="ListOfNameAddressType"/> 
<xsd:element name="ManufacturerPartNumberTypeElement" type="ManufacturerPartNumberType"/> 
<xsd:element name="HazardousTemperaturesTypeElement" type="HazardousTemperaturesType"/> 
<xsd:element name="AttachmentTypeElement" type="AttachmentType"/> 
<xsd:element name="TransportModeTypeElement" type="TransportModeType"/> 
</xsd:schema>