dtds/algorithms.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by pepito (personal)  -->
<!ELEMENT algorithms (preprocessing?,algorithm*)>
<!ELEMENT preprocessing (parameters?)>
<!ELEMENT algorithm (class, parameters?)>
<!ATTLIST algorithm
	name CDATA #IMPLIED
>
<!ELEMENT class (#PCDATA)>
<!ELEMENT parameters (parameter+)>
<!ELEMENT parameter (name, value, default?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT default (#PCDATA)>
