dtds/tools.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT tools (tool)*>
<!ELEMENT tool (name, classpath, mnemonic?, accelerator?, shortDescription?, longDescription?, icon?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT classpath (#PCDATA)>
<!ELEMENT mnemonic (#PCDATA)>
<!ELEMENT accelerator (#PCDATA)>
<!ELEMENT longDescription (#PCDATA)>
<!ELEMENT shortDescription (#PCDATA)>
<!ELEMENT icon (#PCDATA)>
