ORE_src/dtds/import.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT importers (importer)*>
<!ELEMENT importer (classpath, type, extension, mnemonic?, accelerator?, shortDescription?, longDescription?, icon?)>
<!ELEMENT classpath (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT extension (#PCDATA)>
<!ELEMENT mnemonic (#PCDATA)>
<!ELEMENT accelerator (#PCDATA)>
<!ELEMENT longDescription (#PCDATA)>
<!ELEMENT shortDescription (#PCDATA)>
<!ELEMENT icon (#PCDATA)>
