xsd/Sample1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Sample1" xmlns:tns="http://www.example.org/Sample1" elementFormDefault="qualified">

    <simpleType name="Button">
    	<restriction base="string"></restriction>
    </simpleType>

    <simpleType name="Input">
    	<restriction base="string"></restriction>
    </simpleType>

    <simpleType name="CheckBox">
    	<restriction base="string"></restriction>
    </simpleType>
</schema>