datasets/University/berkeley.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by NTT (norg) -->
<xs:schema xmlns="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="PreviousApplication" type="PreviousApplicationType"/>
	<xs:complexType name="PreviousApplicationType">
		<xs:sequence>
			<xs:element name="PREV_UCB_STU"/>
			<xs:element name="PREV_UCB_STU_ID"/>
			<xs:element name="PREV_UCB_GRAD_APPL"/>
			<xs:element name="PREV_UCB_GRAD_APPL_YR"/>
			<xs:element name="PREV_UCB_GRAD_APPL_TERM_CD" type="xs:string"/>
			<xs:element name="PREV_UCB_GRAD_APPL_PROGRAM" type="xs:string"/>
			<xs:element name="SPECIAL_PROGRAMS" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BiliographicalInformation" type="BiographicalInformationType"/>
	<xs:element name="ContactInformation" type="ContactInformationType"/>
	<xs:element name="EducationalBackground" type="EducationalBackgroundType"/>
	<xs:element name="TranscriptUpload" type="TranscriptUploadType"/>
	<xs:element name="ExamRequirements" type="ExamRequirementsType"/>
	<xs:element name="StatementOfPurpose" type="StatementOfPurposeType"/>
	<xs:element name="PersonalHistoryStatement" type="PersonalHistoryStatementType"/>
	<xs:element name="FifthYearM.S.Application" type="FifthYearM.S.ApplicationType"/>
	<xs:element name="ResearchAreas" type="ResearchAreasType"/>
	<xs:element name="RecommenderInformation" type="RecommenderInformationType"/>
	<xs:element name="SelfReportedExamScores" type="SelfReportedExamScoresType"/>
	<xs:element name="GPA" type="GPAType"/>
	<xs:element name="Courses" type="CoursesType"/>
	<xs:element name="ProfessionalExperience" type="ProfessionalExperienceType"/>
	<xs:element name="WebLinks" type="WebLinksType"/>
	<xs:element name="Survey" type="SurveyType"/>
	<xs:element name="DomesticFellowship" type="DomesticFellowshipType"/>
	<xs:element name="FLASFellowship" type="FLASFellowshipType"/>
	<xs:element name="InternationFellowship" type="InternationFellowshipType"/>
	<xs:element name="Payment" type="PaymentType"/>
	<xs:complexType name="BiographicalInformationType">
		<xs:sequence>
			<xs:element name="SEX" type="xs:string"/>
			<xs:element name="BIRTHPLACE_CITY" type="xs:string"/>
			<xs:element name="BIRTHPLACE_STATE" type="xs:string"/>
			<xs:element name="BIRTHPLACE_CNTRY_NAME" type="xs:string"/>
			<xs:element name="PREV_FIRST_NAME" type="xs:string"/>
			<xs:element name="PREV_MIDDLE_NAME" type="xs:string"/>
			<xs:element name="PREV_LAST_NAME" type="xs:string"/>
			<xs:element name="FIRST_NAME" type="xs:string"/>
			<xs:element name="MIDDLE_NAME" type="xs:string"/>
			<xs:element name="LAST_NAME" type="xs:string"/>
			<xs:element name="CITZN_CNTRY_CD" type="xs:string"/>
			<xs:element name="VISA_CD" type="xs:string"/>
			<xs:element name="CA_RESID_EXPECT_FLAG" type="xs:string"/>
			<xs:element name="CA_RESID_START_DATE" type="xs:string"/>
			<xs:element name="VOTE_REG_STATE" type="xs:string"/>
			<xs:element name="HOME_STATE" type="xs:string"/>
			<xs:element name="HOME_STATE_YR_TOT" type="xs:string"/>
			<xs:element name="HOME_STATE_MONTH_TOT" type="xs:string"/>
			<xs:element name="HISPANIC_FLAG" type="xs:string"/>
			<xs:element name="ETHNIC_CD" type="xs:string"/>
			<xs:element name="ETHNIC_AM_INDIAN_TRIBE_NAME" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInformationType">
		<xs:sequence>
			<xs:element name="PERM_STREET" type="xs:string"/>
			<xs:element name="PERM_CITY" type="xs:string"/>
			<xs:element name="PERM_STATE" type="xs:string"/>
			<xs:element name="PERM_ZIP_POSTAL_CD" type="xs:string"/>
			<xs:element name="PERM_COUNTRY" type="xs:string"/>
			<xs:element name="PERM_TEL_NUMBER" type="xs:string"/>
			<xs:element name="PERM_FAX_NUMBER" type="xs:string"/>
			<xs:element name="CELL_TEL_NUMBER" type="xs:string"/>
			<xs:element name="ADDR_VALID_TO_DATE" type="xs:string"/>
			<xs:element name="TEMP_STREET" type="xs:string"/>
			<xs:element name="TEMP_CITY" type="xs:string"/>
			<xs:element name="TEMP_STATE" type="xs:string"/>
			<xs:element name="TEMP_ZIP_POSTAL_CD" type="xs:string"/>
			<xs:element name="TEMP_COUNTRY" type="xs:string"/>
			<xs:element name="TEMP_TEL_NUMBER" type="xs:string"/>
			<xs:element name="TEMP_FAX_NUMBER" type="xs:string"/>
			<xs:element name="ALT_CONTACT_NAME" type="xs:string"/>
			<xs:element name="ALT_CONTACT_ADDR" type="xs:string"/>
			<xs:element name="INFO_RELEASE_AUTH_FLAG" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationalBackgroundType">
		<xs:sequence>
			<xs:element name="SCHOOL_CODE" type="xs:string"/>
			<xs:element name="SCHOOL_NAME" type="xs:string"/>
			<xs:element name="SCHOOL_LOC_NAME" type="xs:string"/>
			<xs:element name="SCHOOL_COUNTRY" type="xs:string"/>
			<xs:element name="DEG_AWD_TYPE" type="xs:string"/>
			<xs:element name="BACHELOR_DEG_SCHOOL_FLAG" type="xs:string"/>
			<xs:element name="FIELD_OF_STUDY_TEXT" type="xs:string"/>
			<xs:element name="ATTEND_FROM_DATE" type="xs:string"/>
			<xs:element name="ATTEND_TO_DATE" type="xs:string"/>
			<xs:element name="DEG_AWD_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TranscriptUploadType">
		<xs:sequence>
			<xs:element name="TRANSCRIPT_SCHOOL" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExamRequirementsType">
		<xs:sequence>
			<xs:element name="TestType" type="xs:string"/>
			<xs:element name="RegistrationNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatementOfPurposeType">
		<xs:sequence>
			<xs:element name="SOP_ESSAY" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalHistoryStatementType">
		<xs:sequence>
			<xs:element name="PERSONAL_HISTORY_STATEMENT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FifthYearM.S.ApplicationType">
		<xs:sequence>
			<xs:element name="fifthyra" type="xs:string"/>
			<xs:element name="fifthyrb" type="xs:string"/>
			<xs:element name="fifthyrc" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchAreasType">
		<xs:sequence>
			<xs:element name="area" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecommenderInformationType">
		<xs:sequence>
			<xs:element name="RCMDR_FIRST_NAME" type="xs:string"/>
			<xs:element name="RCMDR_LAST_NAME" type="xs:string"/>
			<xs:element name="RCMDR_INSTITUTION" type="xs:string"/>
			<xs:element name="RCMDR_EMAIL" type="xs:string"/>
			<xs:element name="RCMDR_PHONE" type="xs:string"/>
			<xs:element name="RCMDR_WAIVE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelfReportedExamScoresType">
		<xs:sequence>
			<xs:element name="greexamdate" type="xs:string"/>
			<xs:element name="greverbscore" type="xs:string"/>
			<xs:element name="greverbpercent" type="xs:string"/>
			<xs:element name="grequantscore" type="xs:string"/>
			<xs:element name="grequantpercent" type="xs:string"/>
			<xs:element name="greanalyticscore" type="xs:string"/>
			<xs:element name="greanalyticpercent" type="xs:string"/>
			<xs:element name="gresubexamdate" type="xs:string"/>
			<xs:element name="subjectname" type="xs:string"/>
			<xs:element name="gresubjectscore" type="xs:string"/>
			<xs:element name="gresubpercent" type="xs:string"/>
			<xs:element name="toeflexamdate" type="xs:string"/>
			<xs:element name="toefltotal" type="xs:string"/>
			<xs:element name="toeflreadingscore" type="xs:string"/>
			<xs:element name="toefllisteningscore" type="xs:string"/>
			<xs:element name="toeflspeakingscore" type="xs:string"/>
			<xs:element name="toeflwritingscore" type="xs:string"/>
			<xs:element name="ieltsexamdate" type="xs:string"/>
			<xs:element name="ieltslisteningscore" type="xs:string"/>
			<xs:element name="ieltsreadingscore" type="xs:string"/>
			<xs:element name="ieltswritingscore" type="xs:string"/>
			<xs:element name="ieltsspeakingscore" type="xs:string"/>
			<xs:element name="ieltsoverallscore" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GPAType">
		<xs:sequence>
			<xs:element name="cum_gpa" type="xs:string"/>
			<xs:element name="advance_gpa" type="xs:string"/>
			<xs:element name="major_gpa" type="xs:string"/>
			<xs:element name="grad_gpa" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoursesType">
		<xs:sequence>
			<xs:element name="coursename" type="xs:string"/>
			<xs:element name="courseunits" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfessionalExperienceType">
		<xs:sequence>
			<xs:element name="emptitle" type="xs:string"/>
			<xs:element name="empname" type="xs:string"/>
			<xs:element name="startdate" type="xs:string"/>
			<xs:element name="enddate" type="xs:string"/>
			<xs:element name="basiscd" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebLinksType">
		<xs:sequence>
			<xs:element name="weblink" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SurveyType">
		<xs:sequence>
			<xs:element name="otherapp" type="xs:string"/>
			<xs:element name="termdegree" type="xs:string"/>
			<xs:element name="survey" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomesticFellowshipType">
		<xs:sequence>
			<xs:element name="US_FLWSHP_ENDOW_FUND_CD" type="xs:string"/>
			<xs:element name="APPLCNT_CURR_OCCUP_TYPE" type="xs:string"/>
			<xs:element name="APPLCNT_CURR_INCOME_AMT" type="xs:string"/>
			<xs:element name="DEPEND_CHILD_TOT" type="xs:string"/>
			<xs:element name="DEPEND_ADULT_TOT" type="xs:string"/>
			<xs:element name="DEPEND_CHILD_LIVIN_FLAG" type="xs:string"/>
			<xs:element name="PARENT_TAX_EXMPT_FLAG" type="xs:string"/>
			<xs:element name="US_PARENT_AID_AMT" type="xs:string"/>
			<xs:element name="US_INTEREST_INCOME_AMT" type="xs:string"/>
			<xs:element name="US_SUMMER_INCOME_AMT" type="xs:string"/>
			<xs:element name="US_OTHER_INCOME_AMT" type="xs:string"/>
			<xs:element name="US_OTHER_INCOME_TEXT" type="xs:string"/>
			<xs:element name="US_ASSET_AMT" type="xs:string"/>
			<xs:element name="US_STOCK_BOND_AMT" type="xs:string"/>
			<xs:element name="US_CHILD_CARE_EXPNS_AMT" type="xs:string"/>
			<xs:element name="US_MED_DENT_EXPNS_AMT" type="xs:string"/>
			<xs:element name="US_MED_DENT_EXPNS_TEXT" type="xs:string"/>
			<xs:element name="US_EDUC_FED_LOAN_AMT" type="xs:string"/>
			<xs:element name="US_EDUC_PRIV_LOAN_AMT" type="xs:string"/>
			<xs:element name="US_EDUC_LOAN_BAL_AMT" type="xs:string"/>
			<xs:element name="US_OTHER_EXPNS_AMT" type="xs:string"/>
			<xs:element name="US_OTHER_EXPNS_TEXT" type="xs:string"/>
			<xs:element name="US_RELOC_EXPNS_AMT" type="xs:string"/>
			<xs:element name="PRIM_HOME_LANG_NAME" type="xs:string"/>
			<xs:element name="MOTHER_EDUC_LEVEL" type="xs:string"/>
			<xs:element name="FATHER_EDUC_LEVEL" type="xs:string"/>
			<xs:element name="SIBLING_TOT" type="xs:string"/>
			<xs:element name="SIBLING_ATTEND_COLL_TOT" type="xs:string"/>
			<xs:element name="SIBLING_CURR_COLL_TOT" type="xs:string"/>
			<xs:element name="HS_GRAD_NAME" type="xs:string"/>
			<xs:element name="COLL_GRAD_NAME" type="xs:string"/>
			<xs:element name="WORK_HISTORY" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FLASFellowshipType">
		<xs:sequence>
			<xs:element name="FLWSHP_FLAS_FOR_LANG_NAME" type="xs:string"/>
			<xs:element name="FLWSHP_FLAS_FOR_LANG_LEVEL_CD" type="xs:string"/>
			<xs:element name="FLWSHP_FLAS_WRLD_AREA_CD" type="xs:string"/>
			<xs:element name="FLWSHP_FLAS_ESSAY_TEXT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InternationFellowshipType">
		<xs:sequence>
			<xs:element name="INTL_FLWSHP_ENDOW_FUND_CD" type="xs:string"/>
			<xs:element name="INTL_PARENT_AID_AMT" type="xs:string"/>
			<xs:element name="INTL_KIN_AID_AMT" type="xs:string"/>
			<xs:element name="INTL_SPONSOR_AID_AMT" type="xs:string"/>
			<xs:element name="INTL_PERS_RESRCE_AMT" type="xs:string"/>
			<xs:element name="INTL_OTHER_RESRCE_AMT" type="xs:string"/>
			<xs:element name="INTL_OTHER_RESRCE_TEXT" type="xs:string"/>
			<xs:element name="INTL_CHILD_CARE_EXPNS_AMT" type="xs:string"/>
			<xs:element name="INTL_MED_DENT_EXPNS_AMT" type="xs:string"/>
			<xs:element name="INTL_MED_DENT_EXPNS_TEXT" type="xs:string"/>
			<xs:element name="INTL_LOAN_PMT_AMT" type="xs:string"/>
			<xs:element name="INTL_LOAN_PMT_TEXT" type="xs:string"/>
			<xs:element name="INTL_RELOC_EXPNS_AMT" type="xs:string"/>
			<xs:element name="INTL_OTHER_EXPNS_AMT" type="xs:string"/>
			<xs:element name="INTL_OTHER_EXPNS_TEXT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentType">
		<xs:sequence>
			<xs:element name="PaymentMethod" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FacultyPreference" type="FacultyPreferenceType"/>
	<xs:complexType name="FacultyPreferenceType">
		<xs:sequence>
			<xs:element name="facname" type="xs:string"/>
			<xs:element name="facreason" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
