datasets/University/brown.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by NTT (norg) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PROGRAMOFSTUDY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TYPEOFDEGREE"/>
				<xs:element name="PROGRAMORAREA"/>
				<xs:element name="RESEARCHAREA"/>
				<xs:element name="SEMESTER"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PERSONALDATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NAME">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Prefix"/>
							<xs:element name="Firstname"/>
							<xs:element name="Middlename"/>
							<xs:element name="Lastname"/>
							<xs:element name="Suffix"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BIRTHINFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Dateofbirth"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PLACEOFBIRTH">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="City"/>
							<xs:element name="State"/>
							<xs:element name="Country"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DEMOGRAPHICINFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Gender"/>
							<xs:element name="MaritalStatus"/>
							<xs:element name="USCITIZEN_YESNO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EMAILADDRESS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Emailaddress"/>
							<xs:element name="Type"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MOBILEPHONE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Number"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PERMANENTADDRESS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Addressline"/>
							<xs:element name="City"/>
							<xs:element name="State"/>
							<xs:element name="Country"/>
							<xs:element name="Postalcode"/>
							<xs:element name="Phoneatthislocation"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TEMPORARYADDRESS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Addressline"/>
							<xs:element name="City"/>
							<xs:element name="State"/>
							<xs:element name="Country"/>
							<xs:element name="Postalcode"/>
							<xs:element name="Phoneatthislocation"/>
							<xs:element name="StartDate"/>
							<xs:element name="EndDate"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EDUCATIONHISTORY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INSTITUTION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="COUNTRY"/>
							<xs:element name="StartingDate"/>
							<xs:element name="EndingDate"/>
							<xs:element name="DegreeType"/>
							<xs:element name="Status"/>
							<xs:element name="GPA">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GPAScoringType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TranscriptUpload"/>
							<xs:element name="Majorfieldsofstudy"/>
							<xs:element name="Minorfieldsofstudy"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADDITIONALINFORMATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CVUpload"/>
				<xs:element name="WritingSampleUpload"/>
				<xs:element name="PersonalStatement">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text"/>
							<xs:element name="Upload"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="onlinebodiesofwork"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STANDARDIZEDEXAMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GRE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GREORIGINAL">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VerbalScore"/>
										<xs:element name="QuantitativeScore"/>
										<xs:element name="WritingScore"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GRESUBJECT">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Subject"/>
										<xs:element name="Subscore1"/>
										<xs:element name="Subscore2"/>
										<xs:element name="Subscore3"/>
										<xs:element name="TotalScore"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LANGUAGE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TOEFL">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Testdate"/>
										<xs:element name="Testformat"/>
										<xs:element name="TESTSCORES">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Listening"/>
													<xs:element name="Reading"/>
													<xs:element name="Speaking"/>
													<xs:element name="Writing"/>
													<xs:element name="Total"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TSE">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Testdate"/>
										<xs:element name="Score"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IELTS">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Testdate"/>
										<xs:element name="Score"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GMAT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TestDate"/>
							<xs:element name="VerbalScore"/>
							<xs:element name="QuantitativeScore"/>
							<xs:element name="AnalyticalWritingAssessmentscore"/>
							<xs:element name="Totalscore"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LSAT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TestDate"/>
							<xs:element name="Score"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MCAT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TestDate"/>
							<xs:element name="PhysicalSciencesscore"/>
							<xs:element name="VerbalReasoningscore"/>
							<xs:element name="BiologicalSciencesscore"/>
							<xs:element name="Totalscore"/>
							<xs:element name="WritingSamplescore"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DAT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TestDate"/>
							<xs:element name="PeceptualAbilityscore"/>
							<xs:element name="QuantitativeReasoningscore"/>
							<xs:element name="ReadingComprehensionscore"/>
							<xs:element name="Biologyscore"/>
							<xs:element name="GeneralChemistryscore"/>
							<xs:element name="OrganicChemistryscore"/>
							<xs:element name="TotalSciencescore"/>
							<xs:element name="AcademicAveragescore"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EMPLOYMENTHISTORY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FIRMORORGANIZATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name"/>
							<xs:element name="Country"/>
							<xs:element name="State"/>
							<xs:element name="City"/>
							<xs:element name="Industry"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="POSITION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title"/>
							<xs:element name="Startingdate"/>
							<xs:element name="Endingdate"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PROJECTS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description"/>
							<xs:element name="Startingdate"/>
							<xs:element name="Endingdate"/>
							<xs:element name="Skillsused"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OTHERINFORMATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONVICTION_CRIME_VIOLATION"/>
				<xs:element name="OTHERSCHOOLS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ListAllText"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MISC">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FacultyMember"/>
							<xs:element name="Honors_Prizes_Scholarships"/>
							<xs:element name="AdditionalInformation"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FINANCIALINFORMATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Federaleducationalloans"/>
				<xs:element name="Program-basedscholarships"/>
				<xs:element name="Amountoffamilyorparentalsupportexpected"/>
				<xs:element name="OUTSIDEFUNDING">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FundingSource"/>
							<xs:element name="Amount"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OTHERINFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EducationalLoanDebt"/>
							<xs:element name="HomeValue"/>
							<xs:element name="HomeDebt"/>
							<xs:element name="VeteransBenefits"/>
							<xs:element name="NOMINATION"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RECOMMENDERINFORMATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RECOMMENDER">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Firstname"/>
							<xs:element name="Lastname"/>
							<xs:element name="Title"/>
							<xs:element name="E-mailaddress"/>
							<xs:element name="RELATIONSHIPTOYOU"/>
							<xs:element name="WaiveAccess"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PUBLICATIONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PublicationType"/>
				<xs:element name="PublicationTitle"/>
				<xs:element name="Journal"/>
				<xs:element name="DateofPublication"/>
				<xs:element name="URL"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKILLSANDINTERESTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LANGUAGES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="levelofproficiency"/>
							<xs:element name="ListAllText"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SOCIALMEDIA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TwitterFeed"/>
							<xs:element name="FacebookPage"/>
							<xs:element name="OtherSocialMediaOutlets"/>
							<xs:element name="SkypeID"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
