datasets/University/commonapp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by sonthanh (n/a) -->
<xs:schema xmlns="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="academics">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="grades">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="classrank" type="xs:string"/>
							<xs:element name="graduatingclass" type="xs:string"/>
							<xs:element name="cumulativeGPA" type="xs:string"/>
							<xs:element name="GPAscale" type="xs:string"/>
							<xs:element name="GPAweighting" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="act">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="date" type="xs:string"/>
							<xs:element name="composite" type="xs:string"/>
							<xs:element name="compositedate" type="xs:string"/>
							<xs:element name="english" type="xs:string"/>
							<xs:element name="englishdate" type="xs:string"/>
							<xs:element name="math" type="xs:string"/>
							<xs:element name="mathdate" type="xs:string"/>
							<xs:element name="reading" type="xs:string"/>
							<xs:element name="readingdate" type="xs:string"/>
							<xs:element name="science" type="xs:string"/>
							<xs:element name="sciencedate" type="xs:string"/>
							<xs:element name="writing" type="xs:string"/>
							<xs:element name="writingdate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sat">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="date" type="xs:string"/>
							<xs:element name="reading" type="xs:string"/>
							<xs:element name="readingdate" type="xs:string"/>
							<xs:element name="math" type="xs:string"/>
							<xs:element name="mathdate" type="xs:string"/>
							<xs:element name="writing" type="xs:string"/>
							<xs:element name="writingdate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="toefl">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="test" type="xs:string"/>
							<xs:element name="score" type="xs:string"/>
							<xs:element name="date" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ielts">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="test" type="xs:string"/>
							<xs:element name="score" type="xs:string"/>
							<xs:element name="date" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ap_ib_sat_subject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="date"/>
							<xs:element name="test"/>
							<xs:element name="subject"/>
							<xs:element name="score"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="current_year_courses">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="first_semester"/>
							<xs:element name="second_semester"/>
							<xs:element name="third_semester"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="honors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="honor" type="xs:string"/>
							<xs:element name="grade_level" type="xs:string"/>
							<xs:element name="school" type="xs:string"/>
							<xs:element name="state" type="xs:string"/>
							<xs:element name="national" type="xs:string"/>
							<xs:element name="inter-national" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="family">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="household">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="marital_status" type="xs:string"/>
							<xs:element name="permanent_home" type="xs:string"/>
							<xs:element name="num_children" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="parent1" type="parent"/>
				<xs:element name="parent2" type="parent"/>
				<xs:element name="legal_guardian" type="parent"/>
				<xs:element name="siblings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="first_name" type="xs:string"/>
							<xs:element name="middle_name" type="xs:string"/>
							<xs:element name="last_name" type="xs:string"/>
							<xs:element name="age" type="xs:string"/>
							<xs:element name="degree" type="xs:string"/>
							<xs:element name="grade_level" type="xs:string"/>
							<xs:element name="ceeb" type="xs:string"/>
							<xs:element name="attendance_date" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="education">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="secondary_schools">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ceeb_code" type="xs:string"/>
							<xs:element name="school_attended" type="xs:string"/>
							<xs:element name="school_type" type="xs:string"/>
							<xs:element name="date_entry" type="xs:string"/>
							<xs:element name="school_address" type="xs:string"/>
							<xs:element name="school_city" type="xs:string"/>
							<xs:element name="school_state" type="xs:string"/>
							<xs:element name="school_country" type="xs:string"/>
							<xs:element name="school_zip" type="xs:string"/>
							<xs:element name="counselor_prefix" type="xs:string"/>
							<xs:element name="counselor_fname" type="xs:string"/>
							<xs:element name="counselor_mname" type="xs:string"/>
							<xs:element name="counselor_lname" type="xs:string"/>
							<xs:element name="counselor_email" type="xs:string"/>
							<xs:element name="counselor_title" type="xs:string"/>
							<xs:element name="counselor_phone" type="xs:string"/>
							<xs:element name="counselor_fax" type="xs:string"/>
							<xs:element name="organization" type="xs:string"/>
							<xs:element name="education_interruption" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="colleges"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="demographics">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="citizenship_status" type="xs:string"/>
				<xs:element name="years_lived_inside_US" type="xs:string"/>
				<xs:element name="years_lived_outside_US" type="xs:string"/>
				<xs:element name="city_of_birth" type="xs:string"/>
				<xs:element name="state_of_birth" type="xs:string"/>
				<xs:element name="country_of_birth" type="xs:string"/>
				<xs:element name="language">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="speak" type="xs:string"/>
							<xs:element name="read" type="xs:string"/>
							<xs:element name="write" type="xs:string"/>
							<xs:element name="first_language" type="xs:string"/>
							<xs:element name="spoken_at_home" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="religious_preference" type="xs:string"/>
				<xs:element name="islatino" type="xs:string"/>
				<xs:element name="background" type="xs:string"/>
				<xs:element name="isenrolled" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="applicant">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="personal_data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fname" type="xs:string"/>
							<xs:element name="mname" type="xs:string"/>
							<xs:element name="lname" type="xs:string"/>
							<xs:element name="suffix" type="xs:string"/>
							<xs:element name="perferred_name" type="xs:string"/>
							<xs:element name="birthdate" type="xs:string"/>
							<xs:element name="sex" type="xs:string"/>
							<xs:element name="ssn" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="permanent_address">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="country"/>
							<xs:element name="street"/>
							<xs:element name="city"/>
							<xs:element name="state"/>
							<xs:element name="zip"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="current_address">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="country"/>
							<xs:element name="street"/>
							<xs:element name="city"/>
							<xs:element name="state"/>
							<xs:element name="zip"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="telephone">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="perferred_telephone"/>
							<xs:element name="home_phone"/>
							<xs:element name="cell_phone"/>
							<xs:element name="email"/>
							<xs:element name="im_address"/>
							<xs:element name="im_type"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="parent">
		<xs:sequence>
			<xs:element name="parent_type" type="xs:string"/>
			<xs:element name="alive" type="xs:string"/>
			<xs:element name="date_deceased" type="xs:string"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="first_name" type="xs:string"/>
			<xs:element name="middle_name" type="xs:string"/>
			<xs:element name="last_name" type="xs:string"/>
			<xs:element name="phone_type" type="xs:string"/>
			<xs:element name="phone" type="xs:string"/>
			<xs:element name="cob" type="xs:string"/>
			<xs:element name="parent_address"/>
			<xs:element name="perferred_email" type="xs:string"/>
			<xs:element name="type_occupation" type="xs:string"/>
			<xs:element name="position" type="xs:string"/>
			<xs:element name="employer" type="xs:string"/>
			<xs:element name="ceeb_code" type="xs:string"/>
			<xs:element name="college" type="xs:string"/>
			<xs:element name="degree_received" type="xs:string"/>
			<xs:element name="year_received" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
