datasets/University/louis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by sonthanh (n/a) -->
<xs:schema xmlns="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="Demographics">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Applicant_Title" type="xs:string"/>
				<xs:element name="Applicant_LastName" type="xs:string"/>
				<xs:element name="Applicant_FirstName" type="xs:string"/>
				<xs:element name="Applicant_MiddleName" type="xs:string"/>
				<xs:element name="Applicant_NickName" type="xs:string"/>
				<xs:element name="Applicant_Email" type="xs:string"/>
				<xs:element name="Applicant_Email2" type="xs:string"/>
				<xs:element name="Applicant_CelPhone" type="xs:string"/>
				<xs:element name="Applicant_Gender" type="xs:string"/>
				<xs:element name="Applicant_Ssn" type="xs:string"/>
				<xs:element name="Applicant_Dob" type="xs:string"/>
				<xs:element name="Applicant_CitizenshipCode" type="xs:string"/>
				<xs:element name="Applicant_CitizenshipCode" type="xs:string"/>
				<xs:element name="Applicant_CitCountry" type="xs:string"/>
				<xs:element name="Applicant_VisaCode" type="xs:string"/>
				<xs:element name="Applicant_BirthCity" type="xs:string"/>
				<xs:element name="Applicant_BirthStateCode" type="xs:string"/>
				<xs:element name="Applicant_BirthCountry" type="xs:string"/>
				<xs:element name="Applicantion_PreviousLastName" type="xs:string"/>
				<xs:element name="Applicantion_PreviousFirstName" type="xs:string"/>
				<xs:element name="Application_PreviousApplYear" type="xs:string"/>
				<xs:element name="EthnicityCode" type="xs:string"/>
				<xs:element name="RaceCode" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Current">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ValidDate" type="xs:string"/>
							<xs:element name="Address" type="xs:string"/>
							<xs:element name="City" type="xs:string"/>
							<xs:element name="StateCode" type="xs:string"/>
							<xs:element name="PostalCode" type="xs:string"/>
							<xs:element name="ForeignState" type="xs:string"/>
							<xs:element name="Country" type="xs:string"/>
							<xs:element name="CellPhone" type="xs:string"/>
							<xs:element name="PermPhone" type="xs:string"/>
							<xs:element name="AltPhone" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Permanent">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Address" type="xs:string"/>
							<xs:element name="City" type="xs:string"/>
							<xs:element name="StateCode" type="xs:string"/>
							<xs:element name="PostalCode" type="xs:string"/>
							<xs:element name="ForeignState" type="xs:string"/>
							<xs:element name="Country" type="xs:string"/>
							<xs:element name="CellPhone" type="xs:string"/>
							<xs:element name="PermPhone" type="xs:string"/>
							<xs:element name="AltPhone" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Recommenders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Waiver" type="xs:string"/>
				<xs:element name="Recom_Paper" type="xs:string"/>
				<xs:element name="Recom_Title" type="xs:string"/>
				<xs:element name="Recom_LastName" type="xs:string"/>
				<xs:element name="Recom_FirstName" type="xs:string"/>
				<xs:element name="Recom_Email" type="xs:string"/>
				<xs:element name="Recom_RecomRelationshipId" type="xs:string"/>
				<xs:element name="Recom_RecomRelationshipOther" type="xs:string"/>
				<xs:element name="Recom_Institution" type="xs:string"/>
				<xs:element name="Recom_Dept" type="xs:string"/>
				<xs:element name="Recom_Phone" type="xs:string"/>
				<xs:element name="Recom_StateCode" type="xs:string"/>
				<xs:element name="Recom_ForeignState" type="xs:string"/>
				<xs:element name="Recom_Country" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Academics">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcademicHistory">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="School_SchoolName" type="xs:string"/>
							<xs:element name="School_Ceeb" type="xs:string"/>
							<xs:element name="School_Major" type="xs:string"/>
							<xs:element name="School_Minor" type="xs:string"/>
							<xs:element name="School_MajorGpa" type="xs:string"/>
							<xs:element name="School_OtherGpa" type="xs:string"/>
							<xs:element name="School_OverallGpa" type="xs:string"/>
							<xs:element name="School_AttendStart" type="xs:string"/>
							<xs:element name="School_GradDate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HighSchool">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="School_SchoolName" type="xs:string"/>
							<xs:element name="School_SchoolCity" type="xs:string"/>
							<xs:element name="School_GradDate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Language">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Language_Language" type="xs:string"/>
							<xs:element name="Language_YearsStudiedHighSchool" type="xs:string"/>
							<xs:element name="Language_YearsStudiedCollege" type="xs:string"/>
							<xs:element name="Language_Other" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TestScores">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GRE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Exam_RegNum" type="xs:string"/>
							<xs:element name="Exam_ExamDate" type="xs:string"/>
							<xs:element name="Exam_Ppi" type="xs:string"/>
							<xs:element name="Exam_VerbalScore" type="xs:string"/>
							<xs:element name="Exam_VerbalPercent" type="xs:string"/>
							<xs:element name="Exam_QuantitativeScore" type="xs:string"/>
							<xs:element name="Exam_QuantitativePercent" type="xs:string"/>
							<xs:element name="Exam_AnalyticalScore" type="xs:string"/>
							<xs:element name="Exam_AnalyticalPercent" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GRE_Subject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ExamSubject">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Score" type="xs:string"/>
										<xs:element name="Percent" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Exam_RegNum" type="xs:string"/>
							<xs:element name="Exam_ExamDate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TOEFL_PBT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Exam_ExamDate" type="xs:string"/>
							<xs:element name="Exam_Reading" type="xs:string"/>
							<xs:element name="Exam_Listening" type="xs:string"/>
							<xs:element name="Exam_Structure" type="xs:string"/>
							<xs:element name="Exam_Essay" type="xs:string"/>
							<xs:element name="Exam_Composite" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TOEFL_CBT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Exam_ExamDate" type="xs:string"/>
							<xs:element name="Exam_Reading" type="xs:string"/>
							<xs:element name="Exam_Listening" type="xs:string"/>
							<xs:element name="Exam_Structure" type="xs:string"/>
							<xs:element name="Exam_Essay" type="xs:string"/>
							<xs:element name="Exam_Composite" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TOEFL_IBT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Exam_ExamDate" type="xs:string"/>
							<xs:element name="Exam_Reading" type="xs:string"/>
							<xs:element name="Exam_Listening" type="xs:string"/>
							<xs:element name="Exam_Writing" type="xs:string"/>
							<xs:element name="Exam_Composite" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Empl_Employer" type="xs:string"/>
				<xs:element name="Empl_Supervisor" type="xs:string"/>
				<xs:element name="Empl_EmploymentType" type="xs:string"/>
				<xs:element name="Empl_EmploymentStart" type="xs:string"/>
				<xs:element name="Empl_EmploymentEnd" type="xs:string"/>
				<xs:element name="Empl_City" type="xs:string"/>
				<xs:element name="Empl_StateCode" type="xs:string"/>
				<xs:element name="Empl_ForeignState" type="xs:string"/>
				<xs:element name="Empl_Country" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Awards">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SummerResearch">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Awarded" type="xs:string"/>
							<xs:element name="Award_Institution" type="xs:string"/>
							<xs:element name="Award_Program" type="xs:string"/>
							<xs:element name="Award_Year" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="McNairScholar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Awarded" type="xs:string"/>
							<xs:element name="Award_Institution" type="xs:string"/>
							<xs:element name="Award_Year" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MarcScholar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Awarded" type="xs:string"/>
							<xs:element name="Award_Institution" type="xs:string"/>
							<xs:element name="Award_Year" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Award_AwardDesc"/>
				<xs:element name="ChinaScholarshipCouncilProgram">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Awarded" type="xs:string"/>
							<xs:element name="Award_Institution" type="xs:string"/>
							<xs:element name="Award_Year" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Opportunities">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SupplInfo_LearnAbout_AMF" type="xs:string"/>
				<xs:element name="SupplInfo_InfoConsulted" type="xs:string"/>
				<xs:element name="SupplInfo_FacultyConsulted" type="xs:string"/>
				<xs:element name="Fellowships" type="xs:string"/>
				<xs:element name="StudentOrganizations" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
