datasets/University/princeton.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by Vic4ever (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Name" type="NameType"/>
	<xs:element name="BiographicalInformation" type="BiographicalInformationType"/>
	<xs:element name="AdmissionInformation" type="AdmissionInformationType"/>
	<xs:element name="EthnicityInformation" type="EthnicityInformationType"/>
	<xs:element name="MailingAddress" type="MailingAddressType"/>
	<xs:element name="ContactInformation" type="ContactInformationType"/>
	<xs:element name="PermanentAddress" type="PermanentAddressType"/>
	<xs:element name="VisaInformation" type="VisaInformationType"/>
	<xs:element name="PreviousEducation" type="PreviousEducationType"/>
	<xs:element name="PreviousCollege" type="PreviousCollegeType"/>
	<xs:element name="NativeLanguageInformation" type="NativeLanguageInformationType"/>
	<xs:element name="Publications" type="PublicationsType"/>
	<xs:element name="RelevantWorkExperience" type="RelevantWorkExperienceType"/>
	<xs:element name="ExternalFinancialAward" type="ExternalFinancialAwardType"/>
	<xs:element name="AdditionalEducationHistory" type="AdditionalEducationHistoryType"/>
	<xs:element name="OtherUniversities" type="OtherUniversitiesType"/>
	<xs:element name="AdditionalProgramInformation" type="AdditionalProgramInformationType"/>
	<xs:element name="FinancialResource" type="FinancialResourceType"/>
	<xs:element name="PersonalFamilyInformation" type="PersonalFamilyInformationType"/>
	<xs:element name="FinancialInformation" type="FinancialInformationType"/>
	<xs:element name="SignatureStatement" type="SignatureStatementType"/>
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element name="NAME_FIRST" type="xs:string"/>
			<xs:element name="NAME_MIDDLE" type="xs:string"/>
			<xs:element name="NAME_LAST" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BiographicalInformationType">
		<xs:sequence>
			<xs:element name="BIRTH_DATE" type="xs:string"/>
			<xs:element name="GSPUAPPL-MARITAL_STATUS" type="xs:string"/>
			<xs:element name="GENDER" type="xs:string"/>
			<xs:element name="SS_NUM" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdmissionInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-OTHER_NAMES" type="xs:string"/>
			<xs:element name="GSPUAPPL-APPLY_BEFORE" type="xs:string"/>
			<xs:element name="GSPUAPPL-APPLY_BEFORE_DEPT" type="xs:string"/>
			<xs:element name="GSPUAPPL-APPLY_BEFORE_YEAR" type="xs:string"/>
			<xs:element name="GSPUAPPL-APP_TERM" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAJOR_AREAS_OF_INTEREST" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAJOR_DEGREE_CODE"/>
			<xs:element name="GSPUAPPL-DEPARTMENT"/>
			<xs:element name="GSPUAPPL-DEGREE_DESCRIPTION"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EthnicityInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-ETHNIC_HISPANIC_N" type="xs:string"/>
			<xs:element name="GSPUAPPL-ETHNIC" type="xs:string"/>
			<xs:element name="GSPUAPPL-ETHNIC_TRIBAL_AFFILIATION" type="xs:string"/>
			<xs:element name="GSPUAPPL-ETHNIC_TRIBAL_DATE_ENROLLED" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MailingAddressType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-MAIL_COUNTRY" type="xs:string"/>
			<xs:element name="MAIL_STREET" type="xs:string"/>
			<xs:element name="MAIL_CITY" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_STATE" type="xs:string"/>
			<xs:element name="MAIL_ZIP" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_LOCATION" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_STREET" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_ADDRESS" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_ADDRESS_EXT" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_HOUSE_NO" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_TOK_SOI" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_CAP" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_DISTRICT" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_AREA_CODE" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_POST_CODE" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_POSTAL_CODE" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_CITY" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_POSTAL" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_COMMUNITY" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_PROVINCE" type="xs:string"/>
			<xs:element name="GSPUAPPL-MAIL_TEMPLATE_STATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInformationType">
		<xs:sequence>
			<xs:element name="PHONE_AREA" type="xs:string"/>
			<xs:element name="PHONE_PRE" type="xs:string"/>
			<xs:element name="PHONE_SUF" type="xs:string"/>
			<xs:element name="GSPUAPPL-CELL_PHONE_AREA" type="xs:string"/>
			<xs:element name="GSPUAPPL-CELL_PHONE_PRE" type="xs:string"/>
			<xs:element name="GSPUAPPL-CELL_PHONE_SUF" type="xs:string"/>
			<xs:element name="EMAIL" type="xs:string"/>
			<xs:element name="GSPUAPPL-SKYPE_ADDRESS" type="xs:string"/>
			<xs:element name="PHONE_COUNTRY_CODE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PermanentAddressType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-COUNTRY" type="xs:string"/>
			<xs:element name="STREET" type="xs:string"/>
			<xs:element name="CITY" type="xs:string"/>
			<xs:element name="GSPUAPPL-STATE" type="xs:string"/>
			<xs:element name="ZIP" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_LOCATION" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_STREET" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_ADDRESS" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_ADDRESS_EXT" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_HOUSE_NO" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_TOK_SOI" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_CAP" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_DISTRICT" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_AREA_CODE" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_POST_CODE" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_POSTAL_CODE" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_CITY" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_POSTAL" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_COMMUNITY" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_PROVINCE" type="xs:string"/>
			<xs:element name="GSPUAPPL-TEMPLATE_STATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VisaInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-VISA_TYPE" type="xs:string"/>
			<xs:element name="GSPUAPPL-COUNTRY_RESIDENCE" type="xs:string"/>
			<xs:element name="GSPUAPPL-USCIS_RECEIPT_NUM" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviousEducationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-ATTEND_HS_NJ" type="xs:string"/>
			<xs:element name="GSPUAPPL-ATTEND_HS_NJ_NAME" type="xs:string"/>
			<xs:element name="GSPUAPPL-HIGHEST_EDUC_LEVEL" type="xs:string"/>
			<xs:element name="GSPUAPPL-HIGHEST_EDUC_LEVEL_SCH_NAME" type="xs:string"/>
			<xs:element name="GSPUAPPL-HIGHEST_EDUC_LEVEL_DEGREE_YEAR" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviousCollegeType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-COLLEGE_NAME" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_BEGIN" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_END" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_DEGREE_DATE" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_DEGREE" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_MAJOR" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_MAJOR2" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_MINOR" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_MINOR2" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_MAJOR_GPA" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_MAJOR2_GPA" type="xs:string"/>
			<xs:element name="GSPUAPPL-COLLEGE_GPA" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NativeLanguageInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-NATIVE_LANGUAGE" type="xs:string"/>
			<xs:element name="GSPUAPPL-FOREIGN_LANG" type="xs:string"/>
			<xs:element name="GSPUAPPL-FOREIGN_LANG_ABILITY_SPEAKING" type="xs:string"/>
			<xs:element name="GSPUAPPL-FOREIGN_LANG_ABILITY_READING" type="xs:string"/>
			<xs:element name="GSPUAPPL-FOREIGN_LANG_ABILITY_WRITING" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublicationsType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-PUBLICATION_TITLE_TOPIC" type="xs:string"/>
			<xs:element name="GSPUAPPL-PUBLICATION_TYPE" type="xs:string"/>
			<xs:element name="GSPUAPPL-PUBLICATION_PUBLISHER" type="xs:string"/>
			<xs:element name="GSPUAPPL-PUBLICATION_YEAR" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelevantWorkExperienceType">
		<xs:sequence>
			<xs:element name="WORK_EMPLOYER" type="xs:string"/>
			<xs:element name="WORK_POSITION" type="xs:string"/>
			<xs:element name="WORK_BEGIN" type="xs:string"/>
			<xs:element name="WORK_END" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExternalFinancialAwardType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-EXTERNAL_FELLOWSHIP" type="xs:string"/>
			<xs:element name="GSPUAPPL-EXTERNAL_FELLOWSHIP_TEXT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalEducationHistoryType">
		<xs:sequence>
			<xs:element name="SUSPEND" type="xs:string"/>
			<xs:element name="GSPUAPPL-SUSPEND_TEXT" type="xs:string"/>
			<xs:element name="GSPUAPPL-SUSPEND_TEXT_DATE" type="xs:string"/>
			<xs:element name="GSPUAPPL-SUSPEND_TEXT_LEARN" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherUniversitiesType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-OTHER_COLLEGE_APPLY_NAME" type="xs:string"/>
			<xs:element name="GSPUAPPL-OTHER_COLLEGE_APPLY_OTHER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalProgramInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-WAIVER_PROGRAM_PARTICIPATION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialResourceType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-FINANCE_APPLYING_FOR_SUPPORT" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PLEDGE" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PLEDGE_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalFamilyInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-FINANCE_SPOUSE_STUDENT" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_SPOUSE_STUDENT_WHERE" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_SPOUSE_EMPLOYED" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_SPOUSE_OCCUPATION" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_CHILDREN_HAVE" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_CHILDREN_NUM" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_CHILDREN_AGE" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_FAMILY_ACCOMPANY" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_FATHER_OCCUPATION" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_FATHER_EMPLOYER" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_MOTHER_OCCUPATION" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_MOTHER_EMPLOYER" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PARENT_MARITAL" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-FINANCE_APPLICANT_INCOME" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_SPOUSE_INCOME" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_FATHER_INCOME" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_MOTHER_INCOME" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_OTHER_INCOME" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_APPLICANT_CASH" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PARENT_CASH" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_APPLICANT_INVEST" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PARENT_INVEST" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_APPLICANT_HOME" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PARENT_HOME" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_APPLICANT_REAL_EST" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PARENT_REAL_EST" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_APPLICANT_BUSINESS" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_PARENT_BUSINESS" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_DEBT_UNDERGRAD" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_DEBT_GRAD" type="xs:string"/>
			<xs:element name="GSPUAPPL-FINANCE_INTEND_METHOD" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatureStatementType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-PLEDGE" type="xs:string"/>
			<xs:element name="GSPUAPPL-PLEDGE_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CitizenshipInformation" type="CitizenshipInformationType"/>
	<xs:complexType name="CitizenshipInformationType">
		<xs:sequence>
			<xs:element name="GSPUAPPL-BIRTH_COUNTRY" type="xs:string"/>
			<xs:element name="GSPUAPPL-BIRTH_CITY" type="xs:string"/>
			<xs:element name="GSPUAPPL-BIRTH_STATE" type="xs:string"/>
			<xs:element name="GSPUAPPL-BIRTH_STATE_INTL" type="xs:string"/>
			<xs:element name="GSPUAPPL-CITIZENSHIP_STATUS" type="xs:string"/>
			<xs:element name="GSPUAPPL-CITIZEN_COUNTRY" type="xs:string"/>
			<xs:element name="RESIDENT_ALIEN_NUM" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
