datasets/University/universalcollegeapp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by NTT (norg) -->
<xs:schema xmlns="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="academic_information">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="academic_information">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ceeb" type="xs:string"/>
							<xs:element name="hs_name" type="xs:string"/>
							<xs:element name="hs_type" type="xs:string"/>
							<xs:element name="hs_address" type="xs:string"/>
							<xs:element name="hs_city" type="xs:string"/>
							<xs:element name="hs_country" type="xs:string"/>
							<xs:element name="hs_state" type="xs:string"/>
							<xs:element name="hs_zipcode" type="xs:string"/>
							<xs:element name="hs_entrydate" type="xs:string"/>
							<xs:element name="hs_graddate" type="xs:string"/>
							<xs:element name="GuidanceCounselorTitle" type="xs:string"/>
							<xs:element name="GuidanceCounselorName_first" type="xs:string"/>
							<xs:element name="guidancecounselorname_last" type="xs:string"/>
							<xs:element name="GuidanceCounselorEmail" type="xs:string"/>
							<xs:element name="hs_phone" type="xs:string"/>
							<xs:element name="hs_phone_ext" type="xs:string"/>
							<xs:element name="hs_fax" type="xs:string"/>
							<xs:element name="GEDreceived" type="xs:string"/>
							<xs:element name="GEDListDate" type="xs:string"/>
							<xs:element name="currentlyenrolled" type="xs:string"/>
							<xs:element name="graduatedearly" type="xs:string"/>
							<xs:element name="txtnotattendingschool" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="current_year_courses">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SEM_1th" type="xs:string"/>
							<xs:element name="SEM_2nd" type="xs:string"/>
							<xs:element name="SEM_3rd" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="other_highschools">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ohs_name" type="xs:string"/>
							<xs:element name="ohs_ceeb" type="xs:string"/>
							<xs:element name="ohs_date" type="xs:string"/>
							<xs:element name="ohs_location" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="colleges">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="colname" type="xs:string"/>
							<xs:element name="colceeb" type="xs:string"/>
							<xs:element name="coldate" type="xs:string"/>
							<xs:element name="collocation" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experience">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="extracurricular">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="grade_level"/>
							<xs:element name="position" type="xs:string"/>
							<xs:element name="activity" type="xs:string"/>
							<xs:element name="hpw" type="xs:string"/>
							<xs:element name="wpy" type="xs:string"/>
							<xs:element name="activitycat" type="xs:string"/>
							<xs:element name="participate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="work_experience">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EMPLOYER" type="xs:string"/>
							<xs:element name="JOB" type="xs:string"/>
							<xs:element name="ACTIVITYDATE" type="xs:string"/>
							<xs:element name="ACTIVITYHOURS" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="txtactivities" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="family_information">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="application_information">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DEPARTMENTMAJOR" type="xs:string"/>
							<xs:element name="DEPARTMENTMAJOROTHER" type="xs:string"/>
							<xs:element name="departmentmajorundecided" type="xs:string"/>
							<xs:element name="professionaleducation" type="xs:string"/>
							<xs:element name="CALCPE" type="xs:string"/>
							<xs:element name="FINANCIALAID" type="xs:string"/>
							<xs:element name="financialaidfiled" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="parent_information">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parentmaritalstatus" type="xs:string"/>
							<xs:element name="divorceddate" type="xs:string"/>
							<xs:element name="permanenthome" type="xs:string"/>
							<xs:element name="permanenthomeother" type="xs:string"/>
							<xs:element name="father">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FatherUnknown" type="xs:string"/>
										<xs:element name="fathertype" type="xs:string"/>
										<xs:element name="fathercourtesytitle" type="xs:string"/>
										<xs:element name="fatherfirst" type="xs:string"/>
										<xs:element name="fathermiddle" type="xs:string"/>
										<xs:element name="fatherlast" type="xs:string"/>
										<xs:element name="father_suffix" type="xs:string"/>
										<xs:element name="fathergender" type="xs:string"/>
										<xs:element name="fatheralive" type="xs:string"/>
										<xs:element name="fatherdeceaseddate" type="xs:string"/>
										<xs:element name="fatheraddress" type="xs:string"/>
										<xs:element name="fathercity" type="xs:string"/>
										<xs:element name="fatherstate" type="xs:string"/>
										<xs:element name="fathercountry" type="xs:string"/>
										<xs:element name="fatherzip" type="xs:string"/>
										<xs:element name="fatherhomeemail" type="xs:string"/>
										<xs:element name="fatherhomephone" type="xs:string"/>
										<xs:element name="fatheroccupation" type="xs:string"/>
										<xs:element name="fatherposition" type="xs:string"/>
										<xs:element name="fatheremployer" type="xs:string"/>
										<xs:element name="fathercollege" type="xs:string"/>
										<xs:element name="fatherdegreereceived" type="xs:string"/>
										<xs:element name="fatherdegreereceivedyear" type="xs:string"/>
										<xs:element name="fathergradschool" type="xs:string"/>
										<xs:element name="fathergraddegreereceived" type="xs:string"/>
										<xs:element name="fathergraddegreereceivedyear" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="mother">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="mothertype" type="xs:string"/>
										<xs:element name="mothercourtesytitle" type="xs:string"/>
										<xs:element name="motherfirst" type="xs:string"/>
										<xs:element name="mothermiddle" type="xs:string"/>
										<xs:element name="motherlast" type="xs:string"/>
										<xs:element name="mother_suffix" type="xs:string"/>
										<xs:element name="mothergender" type="xs:string"/>
										<xs:element name="motheralive" type="xs:string"/>
										<xs:element name="motherdeceaseddate" type="xs:string"/>
										<xs:element name="motheraddress" type="xs:string"/>
										<xs:element name="mothercity" type="xs:string"/>
										<xs:element name="mothercountry" type="xs:string"/>
										<xs:element name="motherstate" type="xs:string"/>
										<xs:element name="motherzip" type="xs:string"/>
										<xs:element name="motherhomeemail" type="xs:string"/>
										<xs:element name="motherhomephone" type="xs:string"/>
										<xs:element name="motheroccupation" type="xs:string"/>
										<xs:element name="motherposition" type="xs:string"/>
										<xs:element name="motheremployer" type="xs:string"/>
										<xs:element name="mothercollege" type="xs:string"/>
										<xs:element name="motherdegreereceived" type="xs:string"/>
										<xs:element name="motherdegreereceivedyear" type="xs:string"/>
										<xs:element name="mothergradschool" type="xs:string"/>
										<xs:element name="mothergraddegreereceived" type="xs:string"/>
										<xs:element name="mothergraddegreereceivedyear" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="siblings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="siblingnamefirst" type="xs:string"/>
							<xs:element name="siblingnamelast" type="xs:string"/>
							<xs:element name="sbage" type="xs:string"/>
							<xs:element name="siblingcollege" type="xs:string"/>
							<xs:element name="siblingdate" type="xs:string"/>
							<xs:element name="siblingsex" type="xs:string"/>
							<xs:element name="siblingdegreeterminal" type="xs:string"/>
							<xs:element name="siblingdegreehighest" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="my_colleges">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="admissionterm" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="personal_data">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="admissionterm" type="xs:string"/>
				<xs:element name="personal_information">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="app_fn" type="xs:string"/>
							<xs:element name="app_mn" type="xs:string"/>
							<xs:element name="app_ln" type="xs:string"/>
							<xs:element name="app_suffix" type="xs:string"/>
							<xs:element name="app_sex" type="xs:string"/>
							<xs:element name="app_nickname" type="xs:string"/>
							<xs:element name="app_formerlast" type="xs:string"/>
							<xs:element name="app_dob" type="xs:string"/>
							<xs:element name="app_ssn" type="xs:string"/>
							<xs:element name="app_email" type="xs:string"/>
							<xs:element name="app_maritalstatus" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="permanent_address">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="app_address" type="xs:string"/>
							<xs:element name="app_city" type="xs:string"/>
							<xs:element name="app_state" type="xs:string"/>
							<xs:element name="app_country" type="xs:string"/>
							<xs:element name="app_zip_pccode" type="xs:string"/>
							<xs:element name="app_ph" type="xs:string"/>
							<xs:element name="app_cellph" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mailing_address">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="maddress" type="xs:string"/>
							<xs:element name="mcity" type="xs:string"/>
							<xs:element name="mstate" type="xs:string"/>
							<xs:element name="mcountry" type="xs:string"/>
							<xs:element name="mzipcode" type="xs:string"/>
							<xs:element name="mphone" type="xs:string"/>
							<xs:element name="mfromdate" type="xs:string"/>
							<xs:element name="mtodate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="citizenship">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cityofbirth" type="xs:string"/>
							<xs:element name="stateofbirth" type="xs:string"/>
							<xs:element name="countryofbirth" type="xs:string"/>
							<xs:element name="citizenship" type="xs:string"/>
							<xs:element name="dualcitizenshiporigin" type="xs:string"/>
							<xs:element name="uspermresident" type="xs:string"/>
							<xs:element name="alienregnum" type="xs:string"/>
							<xs:element name="othercitizenship" type="xs:string"/>
							<xs:element name="othercitizenship2" type="xs:string"/>
							<xs:element name="visatype" type="xs:string"/>
							<xs:element name="timeinus" type="xs:string"/>
							<xs:element name="homelanguage" type="xs:string"/>
							<xs:element name="firstlanguage" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="race_information">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="race_hispanic" type="xs:string"/>
							<xs:element name="RACE_HISPANIC_OTHER" type="xs:string"/>
							<xs:element name="RACE_ASIAN" type="xs:string"/>
							<xs:element name="RACE_ASIAN_OTHER" type="xs:string"/>
							<xs:element name="race_african_amer" type="xs:string"/>
							<xs:element name="race_native_amer" type="xs:string"/>
							<xs:element name="tribalenrolled" type="xs:string"/>
							<xs:element name="tribalaffiliation" type="xs:string"/>
							<xs:element name="race_hawaiian" type="xs:string"/>
							<xs:element name="race_white" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="standardized_tests">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="apib_test_scores">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="APIBTestType" type="xs:string"/>
							<xs:element name="APIBDate" type="xs:string"/>
							<xs:element name="APIBTest" type="xs:string"/>
							<xs:element name="APIBScore" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SAT_reasoning_tests">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SAT1DATE" type="xs:string"/>
							<xs:element name="SAT1VERBAL" type="xs:string"/>
							<xs:element name="SAT1MATH" type="xs:string"/>
							<xs:element name="SAT1WRITING" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SAT_subject_tests">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SAT2DATE" type="xs:string"/>
							<xs:element name="SATSUBJECT" type="xs:string"/>
							<xs:element name="SATSCORE" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="american_college_test">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="A_DATE" type="xs:string"/>
							<xs:element name="A_ENGSCORE" type="xs:string"/>
							<xs:element name="A_MATHSCORE" type="xs:string"/>
							<xs:element name="A_READSCORE" type="xs:string"/>
							<xs:element name="A_SCISCORE" type="xs:string"/>
							<xs:element name="A_TOTSCORE" type="xs:string"/>
							<xs:element name="A_WRISCORE" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="english_test">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TOEFLDATE" type="xs:string"/>
							<xs:element name="TOEFLTEST" type="xs:string"/>
							<xs:element name="TOEFLSCORE" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="txthonors" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="statement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="personal_statement"/>
				<xs:element name="multimedia_information"/>
				<xs:element name="additional_information"/>
				<xs:element name="other_information">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="disciplinary" type="xs:string"/>
							<xs:element name="convicted" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="authorization">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="esignature" type="xs:string"/>
							<xs:element name="printpreviewed" type="xs:string"/>
							<xs:element name="secondaryschool" type="xs:string"/>
							<xs:element name="feewaiver" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
